button {
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;

    height: 50px;
    min-width: 5vw;

    cursor: pointer;
    font-size: 16px;

    &:hover {
        opacity: .7;
    }
}

.orange {
    background-color: #fe5d4a;
}

.purple {
    background-color: #7b66ff;
}

.blue {
    background-color: #0077fc;
}

.magenta {
    background-color: #a50dd4;
}